* {
   margin: 0;
   font-family: 'Nunito', sans-serif;
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

body {
   height: 100%;
   line-height: 1;
   font-size: 16px;
   color: #000;
   background-color: #F2F2F2;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
}

.__container {
   max-width: 1148px;
   margin: 0 auto;
   padding: 0 15px;
   box-sizing: content-box;
}

._ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}

/* ----------------HEADER---------------- */

.header {
   position: absolute;
   width: 100%;  
   z-index: 100;
   margin: 75.64px auto auto auto;
}

.header-logo img:active {
   opacity: .5;
}

/* ----------------MAIN-BLOCK---------------- */

.main-background {
   position: absolute;
   margin: auto auto auto 30%;
   display: flex;
   flex-direction: row;
   width: calc(100% - 30%);
   position: relative;
   height: 100%;
}

.main-logo__img img {
  max-height: 100vh;
}

.main-logo {
   display: flex;
   align-items: center;
   justify-content: center;
}

.main-logo__button {
   position: absolute;
   z-index: 120;
}

.main-logo__button img:active {
   opacity: .1;
}

.main-logo__button img:hover {
   transition: 0.5s;
   opacity: .7;
}

.main-background__menu {
   background-color: rgba(65, 81, 103, 1);
   min-height: 100vh;
}

.menu {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.menu__button {
   margin: 40px auto 118px auto;
}

.menu__button img:hover {
   opacity: .6;
   transition: 0.5s;
}

.menu__list {
   position: relative;
   z-index: 15000;
   margin: 40px auto auto auto;
}

.menu__button a{
   min-height: 40px;
   min-width: 40px;
}

.menu-list__item {
   color: rgba(237, 240, 245, 1);
   font-size: 16px;
   font-weight: 300;
   line-height: 24px;
   margin-bottom: 20px;
}

.menu-list__item p {
   transition: all 0.3s ease ;
}

.menu-list__item:hover p {
   font-size: 16px;
   font-weight: 700;
   line-height: 24px;
   color: rgba(237, 240, 245, 1);
   margin: auto auto auto 23px;
}

.menu-list__item:active {
   opacity: .5;
}

.menu-list__item:hover {
   transition: 3s;
   opacity: .7;
}

.main-title__body {
   z-index: 1700;
   position: absolute;
   margin-top: -280px;

}

.main-title__string {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 900;
   font-size: 54px;
   line-height: 70px;
   color: rgba(65, 81, 103, 1);
}

.__selected {
   padding: 15px;
   background-color: rgba(199, 161, 122, 1);
   color: rgba(249, 251, 255, 1);
}

#image:active {
   max-width: 100%;
   opacity: .5;
 }

.menu-list__item:first-child {
   margin-bottom: 118px;
 }

 @media only screen and (max-width:768px) {
   .main-background {
      position: absolute;
      margin: auto auto auto 60%;
      display: flex;
      flex-direction: column;
      width: calc(100% - 60%);
      position: relative;
   }
   
   .main-logo__img img {
      display: none;
      
   }
   .main-logo__img  {
      display: none;
      
   }

   .main-logo__button img {
      display: none;
   }

   .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100% ;
   }
   

   .main-title__body {
      z-index: 1700;
      position: absolute;
      margin-top: -150px;
      margin-left: 20px;
   
   }

   .main-title__string {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 900;
      font-size: 35px;
      line-height: 45px;
      color: rgba(65, 81, 103, 1);
   }
   
   .__selected {
      padding: 5px;
      background-color: rgba(199, 161, 122, 1);
      color: rgba(249, 251, 255, 1);
   }

   .menu-list__item:first-child {
      margin-bottom: 30px;
    }

    .header-logo img {
      width: 110px;
   }

    .header {
      position: absolute;
      width: 00%;  
      z-index: 100;
      margin: 75.64px auto auto 100px;
   }
 }

 @media only screen and (max-width:1176px) {
   .main-logo .main-logo-img {
      display: none;
    }

    .main-logo-img img {
      display: none;
    }

    .main-logo__button img {
      display: none
    }

    .main-background {
      position: absolute;
      margin: auto auto auto 60%;
      display: flex;
      flex-direction: column;
      width: calc(100% - 60%);
      position: relative;
   }
 }

 /* ----------------BENEFITS---------------- */


.benefits__titles {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 87.16px 10px 72.28px 10px;
}

.benefits__subtitle {
   color: rgba(65, 81, 103, 1);
   font-family:'Nunito';
   font-size: 20px;
   font-weight: 600;
   line-height: 24px;
   letter-spacing: 0px;
}

.benefits__title h2 {
   font-family: 'Montserrat';
   font-style: normal;
   font-size: 30px;
   font-weight: 900;
   line-height: 34px;
   letter-spacing: 0px;
   color: rgba(65, 81, 103, 1);
   text-align: center;

}

.benefits__body {
   display: flex;
   margin: 0px -68px 129px;
   align-items: flex-start;
}

.benefits__column {
   flex: 0 1 25%;
   padding: 0px 68px;
}

.benefits__item {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 226px;
}

.item-benefits__icon {
   margin: 19px auto 41.93px auto;
}

.item-benefits__title {
   font-family: 'Nunito';
   font-size: 24px;
   font-weight: 700;
   line-height: 28px;
   color: rgba(35, 44, 56, 1);
}

.item-benefits__subtitle {
   color: rgba(21, 29, 40, 1);
   font-size: 16px;
   font-weight: 300;
   line-height: 22px;
   text-align: center;
   margin: 11px auto auto auto;
}

@media only screen and (max-width:1054px) {
   .benefits__body {
      display: flex;
      margin: 0px -68px;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
   }

   .benefits__column {
      flex: 0 1 50%;
      padding: 0px 68px;
   }

   .benefits__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 226px;
      margin: 10px;
      background-color: rgb(240,240,240);
      box-shadow: 8px 8px 16px -11px rgba(104, 105, 115, 1);
      border-radius: 5px;
      padding: 10px
   }
}

 /* ----------------CAROUSEL---------------- */

.carousel {
height: 100%;
position: relative;
padding-bottom: 100px;

}

.carousel-column__item {
   display: flex;
   flex-direction: row;
}

.carousel-column__item:hover {
   box-shadow: 8px 8px 24px -19px rgba(66, 68, 90, 1);
   transition: all 1s ease;
}

.carousel-item {
   max-width: 560px ;
   -webkit-box-shadow: 16px 19px 96px -17px rgba(66, 68, 90, 0.18);
   -moz-box-shadow: 16px 19px 96px -17px rgba(66, 68, 90, 0.18);
   box-shadow: 16px 19px 96px -17px rgba(66, 68, 90, 0.18);
   background-color: #EDF0F5 ;
}

.carousel-item:first-of-type {
   margin-bottom: 32px;
}

.carousel-item__info {
   padding: 42px;
   background-color: rgba(255, 255, 255, 1);
}


.item-info__title {
   font-family: 'Nunito';
   font-size: 24px;
   font-weight: 700;
   line-height: 28px;
   color: rgba(35, 44, 56, 1);
   margin: auto auto 24px auto;
}

.item-info__text {
   font-family: 'Nunito';
   font-size: 16px;
   font-weight: 300;
   line-height: 22px;
   color: rgba(21, 29, 40, 1);
   margin: auto auto 18px auto;

}

.item-info__buttons {
   font-family: 'Nunito';
   font-size: 16px;
   font-weight: 700;
   line-height: 22px;
   white-space: nowrap;
}

.item-buttons a {
   padding: 8px 15px 6px 15px;
   border-radius: 19px;
   margin-right: 10px;
}

.button__filled {
   background-color: rgba(199, 161, 122, 1);
   color: rgba(249, 251, 255, 1);
}

.button__filled:hover,
.button__filled:active {
   background-color: rgba(65, 81, 103, 1);
   transition: all 0.3s ease ;
}

.button__transparent:hover,
.button__transparent:active {
   background-color: rgba(65, 81, 103, 1);
   padding: 8px 15px;
   color: rgba(249, 251, 255, 1);
   transition: all 0.3s ease;
}

.stripe-carousel {
   width: 300px;
   z-index: 1;
   min-height: 100%;
}

.carousel__stripe {
   z-index: 0;
   position: absolute;
   min-width: 28%;
   background-color: rgba(65, 81, 103, 1);
   margin-top: -5%;
   top: 0;
   bottom: 0;
   
}

.slider {
   margin-left: 10%; 
}

.slider__item {
   margin-right: 30px;
}


.slider__shadow {
   position: absolute;
   z-index: 3000;
   min-width: 100%;
   min-height: 100%;
   margin-top: calc(-518px - 32px);
   pointer-events: none;
   background: linear-gradient(90deg, rgba(255,255,255,0.2735293946680235) 0%, rgba(0,0,0,0) 17%, rgba(11,11,11,0) 87%, rgba(255,255,255,0.5032212714187237) 100%, rgba(0,212,255,1) 100%);
}

@media only screen and (max-width:984px) {
   .stripe-carousel {
     display: none;
   }
   
   .carousel__stripe {
      display: none;
   }
}

@media only screen and (max-width:778px) {
   .slider {
      margin-left: 0;
   }
}

@media only screen and (max-width:888px) {
   .slider__control[data-slide="prev"] {
     left: 0;
     margin-left: 20px;
   }
   
   .slider__control[data-slide="next"] {
     right: 0;
   }
   .slider__item {
     flex: 0 0 50%;
     max-width: 536px;
     user-select: none;
   }
 }
 .slider__item {
   margin-right: 29px;
 }

 /* ----------------GIFTSETS---------------- */

 .stripe-giftsets {
   width: 300px;
   z-index: 1;
   min-height: 105%;
}

.gifsets {
   position: relative;
}

.giftsets__stripe {
   z-index: 0;
   position: absolute;
   min-width: 76%;
   background-color: rgba(237, 240, 245, 1);
   margin-top: -7%;
   top: 0;
   bottom: 0;
}

.benefits__titles {
   z-index: 3000;
   position: relative;
}

.giftsets__body {
   position: relative;
   float: right;
   
}

.giftsets__slider {
   margin-bottom: 125px;
}

.slider-giftsets {
   display: flex;
   flex-direction: row;
}

.giftsets-content {
   display: flex;
   flex-direction: row;
}

.giftsets-content__photo {
   margin-right: -220px;
   z-index: 5000;
}

.gifsets-description {
   padding: 64px 64px 64px 300px;
   background-color: #fff;
}

.gifsets-description__price {
   font-family: 'Nunito';
   font-size: 20px;
   font-weight: 600;
   line-height: 24px;
   letter-spacing: 0px;
   color: rgba(199, 161, 122, 1);
}

.gifsets-description__title {
   margin: 12px auto;
   color: rgba(35, 44, 56, 1);
}

.gifsets-description__text {
   max-width: 432.71px;
   font-family: 'Nunito';
   font-size: 16px;
   font-weight: 300;
   line-height: 22px;
   letter-spacing: 0px;
   text-align: left;

}

.description-info {
   display: flex;
   flex-direction: row;
   margin: 24px -38px 46px;
}

.info-item {
   display: flex;
   flex-direction: row;
   padding: 0px 38px;
}

.info-content {
   padding-left: 19px;
}

.info-content__subtitle  {
   font-family: 'Nunito';
   font-size: 16px;
   font-weight: 300;
   line-height: 22px;
   letter-spacing: 0px;
   text-align: left;
   color: rgba(65, 81, 103, 1);
}

.info-content__title  {
   font-family: 'Nunito';
   font-size: 16px;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0px;
   color: rgba(65, 81, 103, 1);
}

.buttons-item-info {
   flex-direction: row;
   padding: 7px 33px 7px 33px;
   border-radius: 19px;
}

.item-info__buttons  {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   max-width: 364px;
}

.button-info__transparent:hover,
.button-info__transparent:active {
   background-color: rgba(65, 81, 103, 1);
   padding: 7px 33px;
   color: rgba(249, 251, 255, 1);
   transition: all 0.3s ease;
}

.slider-giftsets__buttons {
   display: flex;
   min-height: 100%;
   flex-direction: column;
}

.giftsets-buttons__item {
   flex: 0 1 33.3333% ;
   padding: 0 36px;
   box-shadow: inset 42px -1px 24px -45px rgba(66, 68, 90, 1);
   opacity: 0.4;
   display: flex;
   background-color: #fff;
   align-items: center;
   border-left: 0.5px solid rgb(124, 129, 134, 0) ;
   cursor: pointer;
}

.giftsets-buttons__item:hover {
   box-shadow: none;
   opacity: 0.8;
   border-left: 0.5px solid rgb(124, 129, 134, 0.2) ;
   transition: all 0.1s ease;
}

.giftsets-buttons__item h2 {
font-family: 'Montserrat';
font-size: 30px;
font-weight: 900;
line-height: 34px;
letter-spacing: 0px;
color: rgba(65, 81, 103, 1);
}

.giftsets-buttons__item:active {
   opacity: 0.6;
   transition: all 0.1s ease;
}
.giftsets-buttons__item {
   transition: all 0.1s ease;
}

.slider-slide {
   display: none;
}

.slider-slide:first-of-type {
   display: flex;
}

@media (max-width: 1086px) {
   .giftsets-content__photo {
      display: none;
   }
      .gifsets-description {
         padding: 64px;
         background-color: #fff;
      }
      
      .gifsets {
         position: relative;
         display: flex;
      }
      .giftsets__body {
         position: relative;
         align-items: center;
         
      }
   
}
